
# Определяем список директорий, которые будут синхронизированы
root = {{ item.src }}
root = {{ item.dest }}

# Чтобы выполнить синхронизацию автоматически, без интерактивного взаимодействия
# с пользователем необходимо использовать опцию "-batch". В случае конфликта,
# выполнение будет прервано с выводом соответствующего уведомления.
batch = {{ item.batch | default(true) | to_nice_json }}

# С опцией -auto, Unison будет автоматически синхронизировать файлы, у которых нет конфликтов.
auto = {{ item.auto | default(true) | to_nice_json }}

# В случаи конфликта нужно автоматически перезаписывать старые файлы более новыми файлами.
force = newer


# Определяем маски для файлов, которые не нужно синхронизировать
{% for item in item.ignore | default([]) %}
ignore = {{ item }}
{% endfor %}
